body {
  background-color: hsl(240, 78%, 98%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: url("../assets/bg-top.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0%;
}

.title {
  color: hsl(233, 13%, 49%);
}

.content {
  margin: auto;
  max-width: 100%;
}

.price-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.card-professional {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin: 20px;
  background: #fff;
}

.card-professional {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
}

.text,
.text-professional {
  display: block;
  font-size: 15px;
  margin: 0;
  color: hsl(233, 13%, 49%);
}

.text-professional {
  color: #fff;
}

.price,
.price-professional {
  font-size: 4em;
  margin: 15px 0;
  width: 250px;
  color: hsl(232, 13%, 33%);
}

.price-professional {
  color: #fff;
}

ul,
.info-professional {
  padding-left: 0;
  list-style-type: none;
  border-top: 1px solid hsl(234, 14%, 74%);
  color: hsl(233, 13%, 49%);
}

.info-professional {
  color: #fff;
}

li {
  padding: 15px 0;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  font-size: 15px;
}

button,
.button-professional {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.button-professional {
  color: hsl(237, 63%, 64%);
  background: #fff;
}

button:hover {
  transform: scale(1.1);
}

.toggle-container {
  margin-bottom: 10px;
}

.toggle-type {
  color: hsl(234, 14%, 74%);
  padding: 7px;
  margin: 7px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 5px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1000px) {
  .price-position {
    flex-direction: row;
    margin-top: 50px;
  }
  .card {
    margin: 10px;
  }
  .card-professional {
    transform: scale(1.15);
  }
}
